<%- include('layout/header.ejs', { subject: "Account Approval Pending" }) %>

<tr>
  <td valign="top" style="color:#92778a;text-align:left;font-size:16px;font-family:'Manrope', sans-serif;font-weight:500;background-color:#fff;padding:0 20px;">
    <h2>Account Approval Pending</h2>
    <p>Thank you for signing up! Your account is currently under review by our admin team. You will be able to log in once your account has been approved.</p>
    <p>You will receive an email notification regarding the status of your account approval. Please allow some time for the review process.</p>

    <p>If you have any questions, feel free to contact our support team at <a href="mailto:info@usee-360.com">info@usee-360.com</a>.</p>

    <br>
    <span><b>Best regards,</b><br></span>
    <span><b>The Usee-360 Team</b><br><br></span>
  </td>
</tr>

<%- include('layout/footer.ejs') %>