                <tr>
                    <td valign="top" style="height:70px;background-color:#fff;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
                    <span>&nbsp;</span>
                </td>
                </tr>
                <tr>
                    <td valign="top" style="color:#626262;text-align:center;font-size: 12px;line-height:24px;font-family:'Manrope', sans-serif;font-weight:500;padding:30px 20px;">
                        <span> Sent by
                            <a href="#" target="_blank" style="color:#626262;">Usee-360</a>
                        </span>
                        <br>
                            <span style="display:block;">Copyright &copy; <%= new Date().getFullYear(); %> Usee-360, All Rights Reserved</span>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
