<p style="margin: 10px 0 ; width: 100%; float: left; text-align: left">If you did not make this request, please ignore this email.</p>
<div style="margin: 10px 0 ; width: 100%; float: left; margin-bottom: 0;">Regards,</div>
<div style="margin: 10px 0 ; width: 100%; float: left; margin-top: 0;">Usee360</div>